
body{
    background-color: #585858;
    margin: 0;
    padding: 0;
}
.menu-right{
    position: fixed;
    width: 150px;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.menuElement{
    padding: 30px;
}
.menuElement:hover{
    opacity: 0.5;
}

::selection{

}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td{
  border: 1px solid black;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 10px;
}
tr:hover{
    background-color: #eb2135;
    opacity: 0.8;
}
.container{
    padding-top: 10px;
    width: 700px;
    height: 100%;
    margin: auto;
    text-align: center;


}
.header{
    width: 100%;
    min-height: 10%;
    overflow:auto;
    padding: 10px;
    clear: both;
}
.logo{
    /*font-family: 'Anton', sans-serif;*/
    font-family: 'Caveat', cursive;
    display: inline-block;
    font-size: 300%;


}
p{
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
}
input[type="button"]{
    min-width: 80px;
    min-height: 40px;
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;

}




/*
 particles.js
*/
canvas {
    display:block;
    background: rgb(33,36,50);
    position: fixed;
    z-index: -1;
}