<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>conbuk</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/style-form.css}">
    <link rel="icon"
          th:href="@{img/logo500.png}"
          type="image/png">

    <link rel="stylesheet" th:href="@{css/ranking.css}">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Caveat:wght@700&display=swap"
          rel="stylesheet">

</head>
<body>

<div id="particles-js"></div>

<div class="container">
    <div class="header">
        <a class="logo">Conbuk</a>
    </div>

    <img height="40%" th:src="@{img/logo-centered.png}" width="40%">
    <p>I have created this project to pass a school subject, <br>
        but instead using old-style PHP I have used Java for backend and Thymeleaf <br>
        for integration with HTML/CSS stuff. All sources are available on my GitHub account,
        including .ino script which turns on a led diode for 1 sec when somebody adds a new concept to database!
    </p>

    <a href="https://github.com/adamsiedlecky" target="_blank">
        <img style="max-width: 100%" th:src="@{img/github.JPG}">
    </a>

</div>

<script th:src="@{js/particles/particles.js}"></script>
<script th:inline="javascript">
        var imgSrc = /*[[@{img/logo-text-square.png}]]*/ 'smth.png';







</script>
<script th:inline="javascript" th:src="@{js/particles/particles-config-with-logo.js}"></script>
<script>
        tsParticles.load('particles-js', particles);




</script>

<div th:insert="fragments/general.html :: menu-right"></div>


</body>
</html>