<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>conbuk</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/style-form.css}">
    <link rel="icon"
          th:href="@{img/logo500.png}"
          type="image/png">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Caveat:wght@700&display=swap"
          rel="stylesheet">

</head>
<body>

<div sec:authorize="isAuthenticated()">
    <script>location.href="/ranking";</script>
</div>

<div id="particles-js"></div>

<div class="container">
    <div class="header">
        <a class="logo">Conbuk</a>
    </div>

    <p class="error" th:if="${(error != null) and (error[0] == 'true')}">
        Wrong user or password
    </p>

    <form method="post" th:action="@{/login}">
        <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>

        <label for="username">username:
            <input autofocus="autofocus" id="username" name="username" required="true" type="text">
        </label>

        <label for="password">password:
            <input id="password" name="password" required="true" type="password">
        </label>

        <input class="button" type="submit" value="LOG ME IN">
    </form>

</div>

<script th:src="@{js/particles/particles.js}"></script>
<script th:inline="javascript">
        var imgSrc = /*[[@{img/logo-text-square.png}]]*/ 'smth.png';



</script>
<script th:inline="javascript" th:src="@{js/particles/particles-config-with-logo.js}"></script>
<script>
        tsParticles.load('particles-js', particles);
</script>


</body>
</html>