<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>conbuk</title>
    <link th:href="@{css/style.css}" rel="stylesheet" >
    <link rel="stylesheet" th:href="@{css/style-form.css}">

    <link rel="icon"
          type="image/png"
          th:href="@{img/logo500.png}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Caveat:wght@700&display=swap"
          rel="stylesheet">

</head>
<body>

    <div id="particles-js"></div>

    <div class="container">
        <div class="header">
            <a class="logo">Conbuk</a>
        </div>

        <a class="logo2">aka ConceptBucket</a>

        <p class="description">Project which allows people to share their ideas that they wish to come true.</p>
        <br>
        <div class="actions">
            <input class="button" onClick="location.href = '/login'" type="button" value="Log in 🔑">
            <input class="button" onClick="location.href = '/register'" type="button" value="Register">
        </div>

    </div>

    <script th:src="@{js/particles/particles.js}"></script>
    <script th:inline="javascript">
        var imgSrc = /*[[@{img/logo-text-square.png}]]*/ 'smth.png';


    </script>
    <script th:inline="javascript" th:src="@{js/particles/particles-config-with-logo.js}"></script>
    <script>

        tsParticles.load('particles-js', particles);


    </script>


</body>
</html>