<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>conbuk</title>
    <link th:href="@{css/style.css}" rel="stylesheet" >
    <link rel="icon"
          type="image/png"
          th:href="@{img/logo500.png}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap" rel="stylesheet">

</head>
<body>

    <div id="particles-js"></div>

    <div class="container">
        <div class="header">
            <a class="logo">Conbuk</a>
        </div>
        <br>
        <br>
        <a class="logo2">aka ConceptBucket</a>
        <img id="logoImage" th:src="@{img/logo-centered.png}"  alt="logo" width="15%" height="15%"/>
        <p class="description">Project which allows people to share their ideas that they wish to come true.</p>
        <br>
        <div class="actions">
            <input onClick="location.href = 'login'" type="button" value="Log in">
            <input onClick="location.href = 'login'" type="button" value="Register">
        </div>

    </div>

    <script th:src="@{js/particles/particles.js}"></script>
    <script th:inline="javascript">
        var imgSrc = /*[[@{img/logo-centered-small.png}]]*/ 'smth.png';


    </script>
    <script th:inline="javascript" th:src="@{js/particles/particles-config-with-logo.js}"></script>
    <script>

        tsParticles.load('particles-js', particles);


    </script>


</body>
</html>