<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>conbuk</title>
    <link rel="stylesheet" th:href="@{css/ranking.css}">

    <link rel="icon"
          th:href="@{img/logo500.png}"
          type="image/png">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Caveat:wght@700&display=swap"
          rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="header">
        <a class="logo">Conbuk</a>
    </div>

    <table>
        <tr>
            <td colspan="5"><span> NEWEST </span></td>
        </tr>
        <tr>
            <td><span> SAVE TIME: </span></td>
            <td><span> LIKES: </span></td>
            <td><span> NAME: </span></td>
            <td><span> DISLIKES: </span></td>
            <td><span> AUTHOR: </span></td>

        </tr>
        <tr th:each="concept,stat : ${concepts}">

            <td><span th:text="${#temporals.format(concept.saveTime, 'dd-MM-yyyy HH:mm')}">  </span></td>
            <td><span th:text="${concept.likeUsers.size}">  </span></td>
            <td><span th:text="${concept.name}">  </span></td>
            <td><span th:text="${concept.dislikeUsers.size}">  </span></td>
            <td><span th:text="${concept.author.username}">  </span></td>
        </tr>
    </table>

</div>

<div th:insert="fragments/general.html :: menu-right"></div>

</body>
</html>