<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>conbuk</title>
    <link rel="stylesheet" th:href="@{css/ranking.css}">

    <link rel="icon"
          th:href="@{img/logo500.png}"
          type="image/png">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Caveat:wght@700&display=swap"
          rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="header">
        <a class="logo">Conbuk</a>
    </div>

    <table>
        <tr>
            <td colspan="5"><span> TOP 100 </span></td>
        </tr>
        <tr>
            <td><span> NR: </span></td>
            <td><span> LIKES: </span></td>
            <td><span> NAME: </span></td>
            <td><span> DISLIKES: </span></td>
            <td><span> AUTHOR: </span></td>

        </tr>
        <tr th:each="concept,stat : ${concepts}">

            <td><span th:text="${stat.count}">  </span></td>
            <td th:onClick="|likeOrUndoLike('${stat.count}')|">
                <div th:id="${stat.count}" th:text="${concept.likeUsers.size}"></div>
            </td>
            <td><span th:id="${'name' + stat.count}" th:text="${concept.name}">  </span></td>
            <td><span th:text="${concept.dislikeUsers.size}">  </span></td>
            <td><span th:text="${concept.author.username}">  </span></td>
        </tr>
    </table>

</div>

<script th:src="@{js/jquery.js}"></script>

<script th:inline="javascript">
        function likeOrUndoLike(rowId){
            var username = document.getElementById("username").innerText;
            var conceptName = document.getElementById("name"+rowId).innerText;
            conceptName = conceptName.split(' ').join('%20');
            console.log(username+" "+conceptName);
            //alert(username+" "+conceptName);

            var url = "/add-like"; // [[@{/add-like}]]
            $("#"+rowId).load(url + '?conceptName=' + conceptName + '&username=' + username);
        }

</script>
<div th:insert="fragments/general.html :: menu-right"></div>

</body>
</html>